<template>
   <div class="font-size-wrapper"  v-click-outside="hide">
      <button @click="show">Background</button>
      <div v-show="open" class="font-size-drop">
         <swatches v-model="color" :swatch-style="{ borderRadius: '10px', border: '1px solid #000;' }" swatches="text-advanced"/>
         <input type="number" v-model="size">
      </div>
   </div>
</template>

<script>
    import ClickOutside from 'vue-click-outside'
    import Swatches from 'vue-swatches'
    export default {
    name: 'FontSize',
    props: ['element'],
    directives: {
        ClickOutside
    },
    components: {Swatches},
    data () {
        return {
            open: false,
            size: 4,
            color: '#000',
        }
    },
    watch: {
        color: function (val) {
            this.element.background.backgroundColor = val;
        },
        size: function (val) {
            this.element.background.borderRadius = val;
        },
        element: function (val) {
            this.size = val.background.borderRadius;
            this.color = val.background.backgroundColor;
        }
    },
        methods: {
            hide: function () {
                this.open = false;
            },
            show: function () {
                this.open = true;
            }
        }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
   * {
      box-sizing: border-box;
   }

   button {
      margin: 0 5px;
   }

   .font-size-wrapper {
      position: relative;
      z-index: 99;
   }

   .font-size-drop {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100px;
      background: #fff;
      padding: 5px;
   }
   .font-size-drop input {
      max-width: 100%;
      width: 100%;
      padding: 3px 15px;
      display: block;
      margin-bottom: 5px;
   }
</style>
