<template>
   <span :style="{
    color: element.color,
    'font-size': element.fontSize,
    'background-color': element.background.backgroundColor,
    'padding': '0 3px',
    'border-radius': element.background.borderRadius + 'px',
    }"
    @input="update" @click="triggerSelect">
   </span>
</template>

<script>

    export default {
    name: 'editable',
    props: ['element'],
        mounted: function () {
            this.$el.innerHTML = this.element.text
        },
        methods: {
        update: function (event) {
            this.$emit('update', event.target.innerHTML)
        },
        triggerSelect: function () {
            this.$emit('select')
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
