<template>
   <div class="font-size-wrapper" v-click-outside="hide">
      <button @click="show">Font Size</button>
      <div v-show="open" class="font-size-drop">
         <input type="number" v-model="size">
      </div>
   </div>
</template>

<script>
    import ClickOutside from 'vue-click-outside'
    export default {
    name: 'FontSize',
    props: ['element'],
    directives: {
        ClickOutside
    },
    data () {
        return {
            open: false,
            size: 31
        }
    },
    watch: {
        size: function (val) {
            console.log(this.element)
            this.element.fontSize = val + 'px';
        },
        element: function (val) {
            let temp = val.fontSize.split('px');
            this.size = temp[0];
        }
    },
    methods: {
        hide: function () {
            this.open = false;
        },
        show: function () {
            this.open = true;
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
   * {
      box-sizing: border-box;
   }

   button {
      margin: 0 5px;
   }

   .font-size-wrapper {
      position: relative;
      z-index: 99;
   }

   .font-size-drop {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100px;
      background: #fff;
      padding: 5px;
   }
   .font-size-drop input {
      max-width: 100%;
      width: 100%;
      padding: 3px 15px;
      display: block;
   }
</style>
