<template>
 <div>
   <tools :element="selected" :elements="content"/>
   <div class="relative-position cursor_normal none_outline"
        style="color: rgb(255, 255, 255); opacity: 1; border-radius: 6px; transform: rotate(0deg); border: 0px solid rgb(70, 144, 247); padding: 10px; text-align: center; letter-spacing: 0px; font-size: 32px; font-family: Aleo; font-weight: 300; text-decoration: none; box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px; text-transform: initial; font-style: normal; z-index: 2002; text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 0px; line-height: 1.5em;"
        spellcheck="false"
       >
       <editable contenteditable="true"  v-bind:key="key" v-for="(item, key) in content" :element="item" @update="item.text = $event" @select="selectToEdit(key)"/>
   </div>
 </div>
</template>

<script>
    import Editable from '../components/editable'
    import Tools from '../components/tools'
    export default {
    name: 'highlight',
    components: {Editable,Tools},
    data() {
        return {
            selected: null,
            content: [{
                text: 'Hi<br>',
                color: 'white',
                fontSize: '32px',
                background: {
                    backgroundColor: 'rgb(166, 77, 121)',
                    borderRadius: 4
                }
                },
                {
                    text: 'My lovely',
                    color: 'white',
                    fontSize: '32px',
                    background: {
                        backgroundColor: 'rgb(166, 77, 121)',
                        borderRadius: 4
                    }
                },
                {
                    text: 'little',
                    color: 'rgb(136, 14, 79)',
                    fontSize: '54px',
                    background: {
                        backgroundColor: 'transparent',
                        borderRadius: 4
                    }
                },
                {
                    text: 'Ponny',
                    color: 'rgb(186, 104, 200)',
                    fontSize: '32px',
                    background: {
                        backgroundColor: 'rgb(248, 187, 0)',
                        borderRadius: 0,
                    }
                }]
        }
    },
    methods: {
        selectToEdit(id) {
            this.selected = this.content[id];
        },
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
