<template>
 <div v-bind:class="{disabled: !element}">
     <div  class="tools">
         <swatches v-model="color" :swatch-style="{ borderRadius: '10px', border: '1px solid #000;' }" swatches="text-advanced"/>
         <font-size :element="element"></font-size>
         <background :element="element"></background>
         <button @click="exportTo">Export</button>
     </div>
 </div>
</template>

<script>
import Swatches from 'vue-swatches'
import FontSize from '../components/fontSize'
import Background from '../components/background'
import "vue-swatches/dist/vue-swatches.css"

export default {
  name: 'tools',
    components: { Swatches,FontSize,Background },
    props: ['element','elements'],
    watch: {
        color: function (val) {
            this.element.color = val;
        },
        element: function (val) {
            this.color = val.color;
        }
    },
    data () {
        return {
            color: '#000'
        }
    },
    methods: {
        exportTo: function () {
            let exported = JSON.stringify(this.elements);
            console.log(exported)
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .tools {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 70px;
    }

    .disabled {
        pointer-events: none;
        opacity: 0.7;
    }

    button {
        margin: 0 5px;
        display: inline-block;
    }
</style>
