<template>
  <div id="app">
    <highlight/>
  </div>
</template>

<script>

import highlight from './components/highlight.vue'

export default {
  name: 'App',
  components: {
    highlight
  }
}
</script>

<style>
  body {
    background: #ebebeb;
  }
</style>
